.App {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.list-container {
  width: 100%;
  height: 100%;
}

.mode-setter-container {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}