.items-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
}

.action-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.item-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: gainsboro;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-between;
}

.right-container {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}